/* General resets for common elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #e5fae5;
    color: #022e08;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 3rem;
    color: #040c03;
}

nav {
    background-color: #1c8a25;
    padding: 15px 0;
    margin-bottom: 25px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 25px;
}

nav ul li a {
    color: #e5fae5;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2rem;
    color: #040c03;
    ;
    margin-bottom: 20px;
}

footer {
    background-color: #1c8a25;
    text-align: center;
    margin-top: 35px;
    font-size: 2rem;
    color: #ffffff;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
    padding: 3%;
    box-sizing: border-box;
}
.product:nth-child(2) img {
    width: 100%;
    height: 300px; 
    padding: 3%;
    margin: 0 auto; 
}  
.product h2 {
    font-size: 1.5rem;
    padding: 10px;
    color: #333;
}

.product p {
    padding: 0 10px 10px;
    color: #021a02;
}

.product .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e74c3c;
    padding: 0 10px 10px;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 1.1rem;
    }

    .product-list {
        grid-template-columns: 1fr 1fr;
    }

    .product h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .product-list {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 2rem;
    }

    nav ul li a {
        font-size: 1rem;
    }
}
